body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Shadows Into Light', 'cursive';
    text-shadow: 1px 1px 2px white, 0 0 1em lightblue, 0 0 0.2em lightgreen;
}
#container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    display: none;
}

/*Header Css*/

#header {
    text-align: center;
    height: 8%;
}
#header > h1 {
    margin: 0;
}

/*Player score css*/

#player-live-score {
    height: 8%;
    margin: 10px auto;
    text-align: center;
    font-size: 2em;
}

/*Deck Css*/
#deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    perspective: 1000px;
    
}
ul li{
    margin: 5px;
    border: 1px solid black;
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
}
ul li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.front-card {
    position: absolute;
}
.back-card {
    transform: rotateY(180deg);
    position: absolute;
}
.clicked {
    pointer-events: none;
    transform: rotateY(180deg);
}
.matched-card {
    pointer-events: none;
    transform: rotateY(180deg);
}
.not-active {
    pointer-events: none;
}

/*Modal Css*/
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128,128,128,0.7);
    display: none;
}
#modal {
    background-color:white;
    border-radius: 10%;
    font-size: 60px;
    text-align: center;
    height: 70%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
div#modal-container.active-modal {
    display: block;
}

/* buttons css*/
.play-button {
    font-family: 'Shadows Into Light', 'cursive';
    background: tomato;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid grey;
}

/*Welcome screen css */

#welcome-screen {
    background-color: tomato;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 25px;
}

.customize-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Table Score css*/

table#table-score {
    font-size: 0.6em;
}

@media only screen and (min-width: 320px) {
    #modal {
    height: 50%;
    font-size: 1.2em;
    }
    .customize-screen {
        height: 50%;
    }
    .play-button {
        font-size: 0.5em;
    }
    #start h1 {
        font-size: 0.9em;
    }
    ul li {
        height: 3.7rem;
		width: 3.7rem;
    }
    #deck {
        width: 90%;
    }
}
@media only screen and (min-width: 450px) {
    #modal {
    font-size: 1.7em;
    height: 68%;
    width: 70%;
    }
    ul li {
        height: 4.7rem;
		width: 4.7rem;
    }
    #deck {
        width: 85%;
    }
}
@media only screen and (min-width: 680px) {
    #deck {
        width: 600px;
        height: 500px;
    }
    #modal {
    height: 80%;
    width: 80%;
    font-size: 2em;
    }
    .customize-screen {
        height: 60%;
    }
    .play-button {
        font-size: 1em;
    }
    #start h1 {
        font-size: 1em;
    }
    ul li {
        height: 5.7rem;
        width: 5.7rem;
    }
}
@media only screen and (min-width: 768px) {
    #deck {
        width: 750px;
        height: 500px;
    }
    ul li {
        height: 6rem;
        width: 6rem;
    }
    #modal {
        font-size: 2.5em;
    }
    .customize-screen {
        height: 70%;
    }
}
@media only screen and (min-width: 1024px) {
    .play-button {
        font-size: 1.5em;
    }
    #start h1 {
        font-size: 1.5em;
    }
    .customize-screen {
        height: 80%;
    }
    #try-again-button {
        font-size: 1em;
    }
}
@media only screen and (min-width: 1224px) {
    ul li {
        height: 7.5rem;
        width: 7.5rem;
    }
    #modal {
        font-size: 3em;
    }
    
}
@media only screen and (min-width: 1920px) {
    #deck {
        width: 900px;
        height: 900px;
    }
    ul li {
        height: 15rem;
        width: 15rem;
    }
    #modal {
        font-size: 3.5em;
    }
}